h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  .dashboard {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .main-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 5%;
  }
  
  h2 {
    color: #333;
  }
  
  /* Style the welcome message */
  p {
    color: #666;
  }
  
  /* Style the widgets */
  .widget {
    margin-top: 20px;
  }
  
  /* Style widget headings */
  .widget h3 {
    color: #1E90FF; /* Dodger Blue */
  }


  