
<div class="dashboard">
  <div class="main-content">
    <h2>Main Content</h2>
    <p>Welcome to the dashboard! </p>
    <div class="widget">
      <h3>User Profile</h3>
      <p>Greetings! I go by the name Muhammad Arif, and currently, I am undertaking an internship at AEM Energy Solutions. It's an exciting opportunity for me to learn and grow in the system engineer field.</p>
    </div>
    <div class="widget">
      <h3>Duration</h3>
      <p>5 Months | 30.10.2023 - 18.03.2024</p>
    </div>
    <div><button (click)="postPage()">POST</button></div>
    <div><button (click)="todoPage()">TO DO</button></div>
  </div>
</div> 

