  <div class="table-container">
    <div class="table-row table-header">
      <div class="table-cell">User ID</div>
      <div class="table-cell">ID</div>
      <div class="table-cell">Title</div>
      <div class="table-cell">Body</div>
    </div>
    <div class="table-row" *ngIf="post">
      <div class="table-cell">{{ post.userId }}</div>
      <div class="table-cell">{{ post.id }}</div>
      <div class="table-cell">{{ post.title }}</div>
      <div class="table-cell">{{ post.body }}</div>      
    </div>
    <div class="back-button-container">
      <button class="back-button" (click)="returnPage()">BACK</button>
    </div>
  </div>