<div class="">
  <app-navbar></app-navbar>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="isLoading; else content">  
  <p>Loading...</p>
</div>
<ng-template #content>
<div>
    <div class="table-container">
      <div class="table-row table-header">
        <div class="table-cell">User ID</div>
        <div class="table-cell">ID</div>
        <div class="table-cell">Title</div>
        <div class="table-cell">Completed</div>
        <div class="table-cell">Actions</div>
      </div>
  
      <div class="table-row" *ngFor="let post of pagedPosts">
        <div class="table-cell">{{ post.userId }}</div>
        <div class="table-cell">{{ post.id }}</div>
        <div class="table-cell">{{ post.title }}</div>
        <div class="table-cell">{{ post.completed }}</div>
        <div class="table-cell">
            <a class="delete-button" (click)="deletePost(post.id)">Delete</a>

        </div>
      </div>
    </div>
  
    <div class="pagination-controls">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span>{{ currentPage }} / {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</ng-template>